&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;ol class=&quot;breadcrumb&quot;&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class=&quot;active&quot;&gt;&lt;span&gt;{{ title }}&lt;/span&gt;&lt;/li&gt;
                                &lt;/ol&gt;

                                &lt;h1&gt;{{ title }}&lt;/h1&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        {{&gt; organisms-overall-count-single }}

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;All Students&lt;/h2&gt;
                                    &lt;/header&gt;

                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;div class=&quot;table-responsive&quot;&gt;
                                            &lt;table id=&quot;table-example-fixed&quot; class=&quot;table table-hover&quot;&gt;
                                                &lt;thead&gt;
                                                &lt;tr&gt;
                                                    &lt;th&gt;Name&lt;/th&gt;
                                                    &lt;th&gt;Major&lt;/th&gt;
                                                    &lt;th&gt;Campus&lt;/th&gt;
                                                    &lt;th&gt;Age&lt;/th&gt;
                                                    &lt;th&gt;Start date&lt;/th&gt;
                                                &lt;/tr&gt;
                                                &lt;/thead&gt;
                                                &lt;tbody&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Tiger Nixon&lt;/td&gt;
                                                    &lt;td&gt;System Architect&lt;/td&gt;
                                                    &lt;td&gt;Edinburgh&lt;/td&gt;
                                                    &lt;td&gt;61&lt;/td&gt;
                                                    &lt;td&gt;2011/04/25&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Garrett Winters&lt;/td&gt;
                                                    &lt;td&gt;Accountant&lt;/td&gt;
                                                    &lt;td&gt;Tokyo&lt;/td&gt;
                                                    &lt;td&gt;63&lt;/td&gt;
                                                    &lt;td&gt;2011/07/25&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Ashton Cox&lt;/td&gt;
                                                    &lt;td&gt;Junior Technical Author&lt;/td&gt;
                                                    &lt;td&gt;San Francisco&lt;/td&gt;
                                                    &lt;td&gt;66&lt;/td&gt;
                                                    &lt;td&gt;2009/01/12&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Cedric Kelly&lt;/td&gt;
                                                    &lt;td&gt;Senior Javascript Developer&lt;/td&gt;
                                                    &lt;td&gt;Edinburgh&lt;/td&gt;
                                                    &lt;td&gt;22&lt;/td&gt;
                                                    &lt;td&gt;2012/03/29&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Airi Satou&lt;/td&gt;
                                                    &lt;td&gt;Accountant&lt;/td&gt;
                                                    &lt;td&gt;Tokyo&lt;/td&gt;
                                                    &lt;td&gt;33&lt;/td&gt;
                                                    &lt;td&gt;2008/11/28&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Brielle Williamson&lt;/td&gt;
                                                    &lt;td&gt;Integration Specialist&lt;/td&gt;
                                                    &lt;td&gt;New York&lt;/td&gt;
                                                    &lt;td&gt;61&lt;/td&gt;
                                                    &lt;td&gt;2012/12/02&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Herrod Chandler&lt;/td&gt;
                                                    &lt;td&gt;Sales Assistant&lt;/td&gt;
                                                    &lt;td&gt;San Francisco&lt;/td&gt;
                                                    &lt;td&gt;59&lt;/td&gt;
                                                    &lt;td&gt;2012/08/06&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Rhona Davidson&lt;/td&gt;
                                                    &lt;td&gt;Integration Specialist&lt;/td&gt;
                                                    &lt;td&gt;Tokyo&lt;/td&gt;
                                                    &lt;td&gt;55&lt;/td&gt;
                                                    &lt;td&gt;2010/10/14&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Colleen Hurst&lt;/td&gt;
                                                    &lt;td&gt;Javascript Developer&lt;/td&gt;
                                                    &lt;td&gt;San Francisco&lt;/td&gt;
                                                    &lt;td&gt;39&lt;/td&gt;
                                                    &lt;td&gt;2009/09/15&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;Sonya Frost&lt;/td&gt;
                                                    &lt;td&gt;Software Engineer&lt;/td&gt;
                                                    &lt;td&gt;Edinburgh&lt;/td&gt;
                                                    &lt;td&gt;23&lt;/td&gt;
                                                    &lt;td&gt;2008/12/13&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;/tbody&gt;
                                            &lt;/table&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-6 col-xs-12&quot;&gt;
                        &lt;div class=&quot;main-box clearfix&quot;&gt;
                            &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                &lt;h2&gt;Helpful Articles&lt;/h2&gt;
                            &lt;/header&gt;
                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                {{&gt; organisms-list-group }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-lg-6 col-xs-12&quot;&gt;
                        {{&gt; organisms-faq }}
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;